{% extends 'layout/base.html' %}


{% block title %}Category List{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="fw-bold">Products List</h1>
        <a href="{{url_for('create_product')}}" class="btn btn-primary">+Add New Product</a>
    </div>
    <hr>

    <div class="d-flex justify-content-start gap-3 flex-wrap">
        {% for pro in products %}
            <div class="card shadow-sm h-100" style="max-width: 18rem; margin-top: 20px;">
                <!-- Product Image -->
                <img src="{{ url_for('static', filename='uploads/products/' + pro['image']) }}" class="card-img-top img-fluid" alt="">
                
                <!-- Product Details -->
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold text-dark mb-1">{{ pro.name }}</h5>
                    
                    <div class="d-flex justify-content-between align-items-center my-2">
                    <span class="fs-4 fw-bold text-primary">${{ pro.price }}</span>
                    <span class="badge bg-secondary-subtle text-secondary border">Stock: {{ pro.stock }}</span>
                    </div>

                    <!-- Action Buttons -->
                    <div class="mt-auto pt-3 d-flex gap-2">
                    <a href="{{url_for('update_product', id =pro.id)}}" class="btn btn-outline-primary btn-sm w-50">EDIT</a>
                    <form action="{{url_for('delete_product', id=pro.id)}}" method="POST"
                        onclick="return confirm('Are you sure to delete this product?')"> 
                        <button type="submit" class="btn btn-danger">DELETE</button>
                    </form>







                    
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}